<ul class="actions-imovel">
	<li><%= link_to 'Editar', {action: "edit", id: @characteristic} %></li>
	<li><%= link_to 'Deletar', {controller: "characteristics", action: "delete", id: @characteristic} , method: :delete, data: {confirm: 'Deseja realmente deletar esta categoria?' } %></li>
</ul>

<p> <%= @characteristic.name %></p>